@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  background-color: #222831;
  color: white;
  font-size: 16px;
}

main {
  display: grid;
}

section,
p {
  text-align: center;
}

article {
  font-size: 1.5em;
}

img {
  width: 25em;
  height: 18em;
  border: 1em solid black;
}
